.signup-form__input {
  width: 358px;
  height: 27px;
  box-sizing: border-box;
  background-color: black;
  border: none;
  border-bottom: 1px solid #ccc;
  outline: none;
  color: #fff;
  align-self: center;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  padding-bottom: 13px;
  margin-top: 50px;
}

.signup-form__input:last-of-type {
  margin-top: 30px;
}

.signup-form__input::placeholder {
  color: #ccc;
}

.signup-form__input::-ms-input-placeholder {
  color: #ccc;
}

.signup-form__input::-moz-placeholder {
  color: #ccc;
}

.signup-form__input::-webkit-input-placeholder {
  color: #ccc;
}

@media screen and (min-width: 0px) and (max-width: 900px) {
  .signup-form__input {
    width: 238px;
    margin-top: 40px;
  }
}