.signup-form__submit-button {
  width: 358px;
  height: 50px;
  background-color: #fff;
  border-radius: 2px;
  color: #000;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  align-self: center;
  margin-top: 10px;
  margin-bottom: 37px;
  border-style: none;
  cursor: pointer;
  margin: 0;
  margin-top: 216px;
}

.signup-form__submit-button:hover {
  background-color: rgba(255, 255, 255, .8);
}

@media screen and (min-width: 0px) and (max-width: 900px) {
  .signup-form__submit-button {
    width: 238px;
    height: 46px;
    margin-top: 173px;
    font-size: 14px;
    line-height: 17px;
  }
}