.page {
  display: flex;
  flex-direction: column;
  color: #fff;
  font-family: 'Inter', Arial, sans-serif;
  max-width: 880px;
  position: relative;
  min-height: 100vh;
}

@media screen and (min-width: 0px) and (max-width: 900px) {
 .page {
  width: 100%;
  align-items: center;
 } 
}